/* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* start */
.wrapper {
  width: 96.5%;
  margin: 0 auto;
}

/* font awsm */
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}


a {
  text-decoration: none;
  text-transform: capitalize;
}

p {
  font-size: 0.6em;
}

h2 {
  padding: 0 24%;
  padding-top: 12%;
  color: #ffffff;
  font-size: 2.55em;
}

/* navigation */
.header-content {
  display: flex;
  align-items: center;
}

nav { 
  width: 29%; 
  margin-left: 58.7%;
}

.nav-list {
  padding: 1.8em 0;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 0.6em;
}

.nav-list a {
  color: #808080;
}

.nav-list a:hover {
  color: #000000;
}
.nav-list a:focus {
  color: #000000;
}


.services {
  position: relative;
 }

.services > ul{ 
  display: none;
  position: absolute;
  transform: translateX(-40%);
  padding-top: 100%;
  padding: 30%;
  background: #ffffff;
  /* border: 2px solid red; */
  border-radius: 0.2em;
}

.services:hover .dropdown-content{
  display: block;
}

.services:focus .dropdown-content{
  display: block;
}

.services li { 
  padding: 20% 0;
}

.services > a::after {
  content: "\f0d7";
  padding: 0 10%;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.service1{ position: relative;}

.service1-dropdown{ 
  margin-left: 10%;
  display: none;
  position: absolute;
  top: 30%;
  left: 100%;
  padding: 30%;
  background: #ffffff;
  /* border: 2px solid red; */
  border-radius: 0.2em;

}

.service1:hover .service1-dropdown{
  display: block;
}

.service1:focus .service1-dropdown{
  display: block;
}

.service1 li { 
  padding: 20% 0;
}

.service1 > a::after {
  content: "\f0d7";
  padding: 0 10%;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
} 

/* section banner */

.banner {
  position: relative;
  background: #313131;
  overflow: hidden;
}

.banner-content {
  padding-bottom: 16%;
  text-align: center;
}

.banner-content p {
  padding:0 30%;
  padding-top: 1.4em;
  padding-bottom: 2.8em;
  color: #ffffff;
  line-height: 1.5em;
}

.banner-content a{
  padding: 0.8em 5.8em;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 0.6em;
}

.premium {
  position: absolute;
  top: 6%;
  right:0;
}

.premium-content p{
  width: 40%;
  padding: 15% 0;
  position: absolute;
  right: -40%;
  top:5%;
  background: #ffffff;
}