/* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* start */
.wrapper {
  width: 96.5%;
  margin: 0 auto;
}


/* font awsm */
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}


a {
  font-family: sans-serif;
  text-decoration: none;
  text-transform: capitalize;
}


.get-link:hover , .get-info-link:hover { 
  color: #ffffff;
  background: #c92e20;
 }

p {
  color: #808080;
  font-size: 0.61em;
  line-height: 1.6em;
}

h2 {
  padding: 0 24%;
  position: relative;
  color: #ffffff;
  font-size: 2.55em;
}

h3 {
  padding-bottom: 0.5em;
  position: relative;
  color: #062633;
  font-size: 2.1em;
  text-align: center;
  text-transform: capitalize;
}

h3::before {
  content: "";
  width: 3.5%;
  padding: 1px;
  position: absolute;
  bottom: 0%;
  left: 48%;
  background: #ff0000;
}


h5 {
  font-size: 0.95em;
  text-transform: capitalize;
}

h6 {
  color: #ffffff;
  font-size: 0.8em;
  text-transform: capitalize;
}


/* navigation */

header { position: relative;}

.header-content {
  display: flex;
  align-items: center;
}

nav { 
  width: 29%; 
  margin-left: 58.7%;
}

.nav-list {
  padding: 1.8em 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.6em;
}

.nav-list a {
  color: #808080;
}

.nav-list a:hover {
  color: #000000;
}
.nav-list a:focus {
  color: #000000;
}


.services {
  position: relative;
 }

.services > ul{ 
  display: none;
  position: absolute;
  transform: translateX(-40%);
  padding-top: 100%;
  padding: 30%;
  background: #ffffff;
  /* border: 2px solid red; */
  border-radius: 0.2em;
}

.services:hover .dropdown-content{
  display: block;
}

.services:focus .dropdown-content{
  display: block;
}

.services li { 
  padding: 20% 0;
}

.services > a::after {
  content: "\f0d7";
  padding: 0 10%;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.service1{ position: relative;}

.service1-dropdown{ 
  margin-left: 10%;
  display: none;
  position: absolute;
  top: 30%;
  left: 100%;
  padding: 30%;
  background: #ffffff;
  /* border: 2px solid red; */
  border-radius: 0.2em;

}

.service1:hover .service1-dropdown{
  display: block;
}

.service1:focus .service1-dropdown{
  display: block;
}

.service1 li { 
  padding: 20% 0;
}

.service1 > a::after {
  content: "\f0d7";
  padding: 0 10%;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
} 

.hamburger::before{
  content: "\f0c9";
  display: none;
  position: absolute;
  right: 5%;
  color: #062633;
  font-family: "Font Awesome 5 Free";
  font-size: x-large;
  font-weight: 900;
}

/* section banner */

.banner {
  padding-top: 12%;
  background: #313131;
  overflow-x: hidden;
}

.banner-content {
  position: relative;
  padding-bottom: 16%;
  text-align: center;
}

.banner-content p {
  padding:0 30%;
  padding-top: 1.4em;
  padding-bottom: 2.8em;
  color: #ffffff;
}

.banner-content a{
  padding: 0.8em 5.5em;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 0.6em;
}

.premium {
  position: absolute;
  top: -30%;
  right: -2.5%;
  z-index: 1;
}

.premium-content p{
  width: 40%;
  padding: 21.05% 0;
  position: absolute;
  top: -40%;
  right: -41%;
  background: #808080;
}

/* section info */


.info-content {
  width: 60%;
  margin: 0 auto;
  padding-top: 1.5em;
  display: flex;
  justify-content: space-between;
}

.info-content li{
  width: 32%;
  padding-bottom: 5%;
  border: 1px solid #ededed;
  text-align: center;
}

.shield { font-size: 0px;}

.umbrella { font-size: 0px;}

.house { font-size: 0px;}

.shield::before {
  content: "\f3ed";
  padding: 9.8%;
  visibility: inherit;
  color: #062633;
  font-family: "Font Awesome 5 Free";
  font-size: xx-large;
  font-weight: 900;
}

.umbrella::before {
  content: "\f0e9";
  padding: 9.8%;
  color: #062633;
  font-family: "Font Awesome 5 Free";
  font-size: xx-large;
  font-weight: 900;
}

.house::before {
  content: "\f015";
  padding: 9.8%;
  color: #062633;
  font-family: "Font Awesome 5 Free";
  font-size: xx-large;
  font-weight: 900;
}

.info-content h6 {
  color: #062633;
}

.info-content p {
  padding: 1.5em 2.5em;
  padding-bottom: 2.2em;
}

.get-info-link{
  padding: 0.8em 1.23em;
  border: 1px solid #062633;
  color: #062633;
  font-size: 0.5em;
  text-transform: uppercase;
}

/* about */

.about-us {
  padding-top: 7.6%;
}

.about-us-content {
  width: 60.5%;
  margin: 0 auto;
  margin-top: 1.5em;
  display: flex;
  justify-content: space-evenly;
}

.about-us-content h4 {
  width: 14.2%;
  color: #c92e20;
  font-size: 1.245em;
  text-transform: capitalize;
  text-align: right
}

.about-us-content p{
  width: 38.22%;
  color: #062633;
}

/* section unlimited */
.unlimited {
  margin-top: 3.5em;
}

.unlimited-content {
  display: flex;
}

.unlimited-content figure {
  width: 51.8%;
  position: relative;
  left: -1.8%;
  text-align: center;
  justify-content: center;
}

.unlimited-content > figure img {
  width: 100%;
  max-height: 28.4em;
  object-fit: cover;
}

.unlimited-content ul {
  margin-top: 1.7em; 
}

.unlimited-items li {
  margin-bottom: 1.5em;
  margin-left: 9.5%;
  position: relative;
}


.drop:before{
  content: "\f043";
  position: absolute;
  left: -7.5%;
  color: #062633;
  font-family: "Font Awesome 5 Free";
  font-size: xx-large;
  font-weight: 900;
}

.mobile::before{
  content: "\f3cd";
  position: absolute;
  left: -7.5%;
  color: #062633;
  font-family: "Font Awesome 5 Free";
  font-size: xx-large;
  font-weight: 900;
}

.heart::before{
  content: "\f004";
  position: absolute;
  left: -9.5%;
  color: #062633;
  font-family: "Font Awesome 5 Free";
  font-size: xx-large;
  font-weight: 900;
}

.barGraph::before{
  content: "\f080";
  position: absolute;
  left: -9.5%;
  color: #062633;
  font-family: "Font Awesome 5 Free";
  font-size: xx-large;
  font-weight: 900;
}

.desk-globe::before{
  content: "\f0ac";
  position: absolute;
  left: -9.5%;
  color: #062633;
  font-family: "Font Awesome 5 Free";
  font-size: xx-large;
  font-weight: 900;
} 

/* .unlimited-content h5, .unlimited-content p{

} */

.unlimited-content h5 {
  width: 90%;
  font-size: 1.1em;
}

.barGraph h5 , .desk-globe h5{
  text-transform: initial;
}

.unlimited-content p {
  width: 80%;
}

/* section our-stats */
.our-stats {
  margin-top: 5.5%;
  margin-bottom: 7.5%;
}

.our-stats-content {
  width: 55.5%;
  margin-top: 3.7%;
  margin-left: 20%;
  display: flex;
  justify-content: space-between;
}



.our-stats-content h4 {
  color: #062633;
  font-size: 2.1em;
}

.our-stats-content p {
  margin-top: 1em;
  color: #062633;
  font-size: 0.85em;
}

/* footer */
footer {
  background: #062633;
  overflow: hidden;
}

.footer-wrapper > p {
  width: 105%;
  padding: 1.52em 0;
  position: relative;
  left: -1.8%;
  background: #c92e20;
  text-align: center;
}

.footer-wrapper > p a {
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2em ;
}

.footer-content {
  width: 105%;
  display: flex;
  position: relative;
  left: -1.8%;
}

.contact-item{
  width: 50%;
  margin-top: 1.7em; 
  border-bottom: 1px solid #3a5c66;
}

.contact-item > li {
  margin-bottom: 1.5em;
  margin-left: 12.5%;
  position: relative;
}

.location::before{
  content: "\f3c5";
  position: absolute;
  left: -7.5%;
  color: #c92e20;
  font-family: "Font Awesome 5 Free";
  font-size: xx-large;
  font-weight: 900;
}

.mail::before{
  content: "\f0e0";
  position: absolute;
  left: -8.5%;
  color: #c92e20;
  font-family: "Font Awesome 5 Free";
  font-size: xx-large;
  font-weight: 900;
}

.phone::before{
  content: "\f095";
  transform: rotate(90deg);
  position: absolute;
  left: -8.5%;
  color: #c92e20;
  font-family: "Font Awesome 5 Free";
  font-size: xx-large;
  font-weight: 900;
}

.footer-content address {
  line-height: 1.6em;
}

address span{
  display: block;
}

address, .footer-content a {
  color: #69878f;
  font-size: 0.575em;
  text-transform: initial;
}

.copyright {
  width: 105%;
  position: relative;
  left: -0.8%;
  color: #69878f;
}

.copyright p { 
  width: 50%;
  margin-top: 1.5em;
  margin-bottom: 1em;
  display: inline-block;
  font-size: 0.55em;
  line-height: 1.3em;
}

.copyright > p span {
  display: block;
}

.copyright > span{
  width: 7%;
  margin-top: 1.5em;
  margin-right: 3.1%;
  float: right;
  font-size: 0.55em;
  line-height: 1.3em;
}

.copyright a { color: #69878f; }

footer a:hover { color: #c92e20;}

/* responsive */

@media screen and (max-width: 1024px) {
  .nav { width: 60%; }
  
  .premium-content p{ padding: 24.05% 0; }

  .copyright > span { width: 10%;}
}

@media screen and (max-width: 920px) {
  nav { 
    width: 50%;
    margin-left: 20.7%;
  }

  .premium { top: -5%;}

  .premium-content p{ padding: 34.2% 0; }
}

@media screen and (max-width: 768px) {

  p { font-size: 0.7em;}

  nav { 
    width: 50%;
    margin-left: 20.7%;
  }

  .premium-content p{ padding: 34.2% 0; }

  .info-content { width: 90%;}

  .info-content li{ width: 30%;}

  .unlimited figure { width: 100%; }

  .unlimited-items li { margin-left: 20%;}

  .unlimited-items .icon::before { left: -20%;}

  .contact-item > li{ margin-left: 30%; }

  .contact-item .icon::before { left: -30%;}

  .copyright > span { width: 15%;}

}  

@media screen and (max-width: 540px) {
  .hamburger::before {
    display: block;
    top: 0.5em;
  }

  h1 { margin-top: 3.5%;}

  h2 { font-size: 1.25em ;}

  .header-content { 
    flex-direction: column; 
    align-items: initial;
  }

  .nav-list { 
    display: none;
    margin-left: 40%;
    flex-direction: column;
  }

  .rsp { display: none;}

  .nav-list li { margin: 1em 0;}

  .nav-list a { font-size: 2em; }

  .services  ul { 
    /* position: relative; */
    left: 30%;
  }

  .premium-content p{ padding: 50.2% 0; }

  .info-content { flex-direction: column;}

  .info-content li { 
    width: 100%;
    margin-bottom: 1em ;
  }

  .about-us-content { 
    flex-direction: column;
  }

  .about-us-content h4 , .about-us-content p{ 
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
  }

  .unlimited-content {flex-direction: column;}

  .unlimited-content figure, .unlimited-items {
    width: 105%;
  }

  .our-stats-content { 
    width: 90%;
    margin-left: 0;
    margin: 0 auto;
    margin-top: 1.5em;
    justify-content: space-around;
  }

  .our-stats-content h4 { font-size: 1.2em;}

  .our-stats-content p { font-size: 0.8em;}

  .footer-content { flex-direction: column;} 
  
  iframe { width: 100%;}

  .contact-item { width: 100%;}

  .copyright p { width: 70%;}

  .copyright > span { width: 25%;}
}

@media screen and (max-width: 540px) {
  .premium-content p{ padding: 62.5% 0; }

}
